body {
    background-color: #f5f5f5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    color: #373737;
    text-align: center;
}

li,
a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #373737;
    text-decoration: none;
    text-align: center;
}


/*Nav bar*/

.navbar {
    min-height: 50px;
}

.navbar-nav .nav-item .nav-link {
    color: #373737;
    padding: 10px;
    margin: 10px;
    border: 1px #373737;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover {
    background-color: #CCD6EB;
    border-radius: 30px;
}


/*Form*/

.bigbox {
    background: white;
    background: linear-gradient(90deg, white 45%, #CCD6EB 100%);
    border-radius: 6px;
    box-shadow: 0 0 1em #222;
    margin: auto;
    margin-top: 50px;
    width: 900px;
    display: grid;
    grid-template-columns: auto auto;
}

.box {
    padding: 10px;
}

.imgn {
    width: 400px;
    height: 450px;
}

#login {
    margin: 0 30px
}

input[type=text] {
    width: 400px;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=password] {
    width: 400px;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background: #81A4CD;
    box-shadow: 0 3px 0 0 darken(10%);
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    width: 400px;
    height: auto;
    margin: auto;
    text-align: center;
    outline: none;
    padding: 10px;
    text-shadow: 0 1px #F9A5A5;
}

.button:hover {
    background: #F9A5A5;
    text-shadow: 0 1px 3px darken(30%);
}

.welcome {
    text-align: center;
}

.logimg {
    width: 50px;
    justify-content: center;
}

span.psw {
    float: center;
    padding-top: 16px;
    padding-left: 150px;
}

.signup {
    text-align: center;
}

.link {
    color: blue;
}


/* first footer*/

.graphic {
    height: 30vw;
    margin: 0px;
}

.socialmediabuttons {
    max-width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 3vw;
}

.fa {
    padding: 20px;
    font-size: 60px;
    width: 80px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    color: #373737;
}

.fa-instagram {
    color: #373737;
}

.fa-twitter {
    color: #373737;
}

.toggle {
    color: black;
}


/*Footer 2*/

.footer {
    background-color: transparent;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

@media screen and (max-width: 900px) {
    body {
        background-color: #00203FFF;
    }
    .bigbox {
        grid-template-columns: auto;
        width: 455px;
        justify-content: center;
        background: white;
        background: linear-gradient(0deg, #CCD6EB 0%, white 50%);
    }
    .imgn {
        padding-left: 40px;
    }
}