body {
    background-color: #f5f5f5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    color: #373737;
}

li,
a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #373737;
    text-decoration: none;
    text-align: center;
}

/*Nav bar*/
.navbar{
    min-height: 50px;
  }
    
.navbar-nav .nav-item .nav-link {
      color:  #373737;
      padding: 10px;
      margin: 10px;
      border: 1px #373737 ;
  }

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover {
      background-color: #CCD6EB;
      border-radius: 30px;
  }

/*Form*/

.bigbox {
    background: white;
    background: linear-gradient(90deg, white 45%, #CCD6EB 100%);
    border-radius: 6px;
    box-shadow: 0 0 1em #222;
    margin: auto;
    margin-top: 50px;
    width: 950px;
    display: grid;
    grid-template-columns: auto auto;
}

.box {
    padding: 10px;
    margin: auto;
}

.imgn {
    justify-content: auto;
    width: 450px;
    height: 450px;
}

h2 {
    padding:auto;
    text-align:center;
}

.logimg {
    width: 50px;
    margin-left: 45%;
}

.info {
    text-align: center;
}

label {
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    width: 250px;
}

input {
    box-sizing: border-box;
    width: 250px;
    height: 35px;
    outline: none;
    text-align: center;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 16px;
    padding: .8em .5em;
    border-radius: 2px;
}

input[type="text"]:focus, input[type="password"]:focus {
    background: #fff
}

input[type="submit"] {
    background: #81A4CD;
    box-shadow: 0 3px 0 0 darken(10%);
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    outline: none;
    padding: 10px;
    text-shadow: 0 1px #F9A5A5;
}

input[type="submit"]:hover {
    background: #F9A5A5;
    text-shadow:0 1px 3px darken(30%);
}

/* first footer*/

.graphic{
    height: 30vw;
    margin: 0px;
}
  
.socialmediabuttons {
    max-width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 3vw;
}
  
.fa  {
  padding: 20px;
  font-size: 60px;
  width: 80px;
  text-align: center;
  text-decoration: none;
}
  
.fa-facebook {
    color: #373737;
}
  
.fa-instagram {
    color: #373737;
}
  
.fa-twitter {
    color: #373737;
}
  
.toggle {
    color: black;
}


/*Footer 2*/
.footer {
    background-color:transparent;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

@media screen and (max-width: 800px) {
    body{
        background-color: #00203FFF;
    }
    .bigbox{
        grid-template-columns: auto;
        width: 455px;
        justify-content: center;
        background: white;
        background: linear-gradient(0deg, #CCD6EB 0%, white 50%);
    }
}