body {
    background-color: #f5f5f5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    color: #373737;
}

li,
a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #373737;
    text-decoration: none;
}


/*Nav bar*/

header {
    display: flex;
    justify-content: flex-end;
    background-color: #CCD6EB;
    align-items: center;
    color: black;
    padding: 30px 100px 30px 100px;
    height: 10px;
    font: #373737;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.nav_links {
    list-style: none
}

.nav_links li {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px #373737;
    border-radius: 10px;
}

.nav_links li:hover {
    background-color: #DBE4EE;
}

.logo {
    margin-right: auto;
    width: 50px;
    opacity: 0.8;
}

.menu {
    text-align: right;
}


/*title and intro*/

#title {
    font-size: 4em;
    margin: 50px;
}

.intro p {
    color: black;
    margin: 50px 300px 50px 300px;
    font-weight: bold;
}


/*choice boxes and images*/

.choicecontainer {
    display: flex;
    justify-content: center;
}

.container2 {
    position: relative;
}

.choice_image {
    height: 200px;
    width: 200px;
    margin: 50px;
    opacity: 0.1;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 30px;
}

.text:hover {
    color: #309AA8;
    font-size: 200%;
}


/*steps part*/

.section {
    background-color: #DBE4EE;
    padding: 5px 0px 50px 0px;
    margin: 50px;
    border-radius: 25px;
}

.steps_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCD6EB;
    opacity: 0.9;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    padding: 50px;
    margin: 10px;
}

.process {
    margin: 20px;
    font-size: 2em;
}

.graphic {
    height: 300px;
    margin: 10px;
}